<!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="UTD-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title> Web Temp</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
        </head>
        <body>
            <!-- header begin -->
            <header>
                <div class="overly">
                    <div class="container">

                        <nav class="nn">

                            <div class="logo">
                                <span   class="spcl"> <i class="fa fa-flask" aria-hidden="true"></i></span> <h3 class="hh">Web <span class="aa">Name</span></h3>

                            </div>

                            <ul class="ul1">
                                <li> <a href="#">HOME</a></li>
                                <li> <a href="#">SHOP</a></li>
                                <li> <a href="#">PAGE</a></li>
                                <li> <a href="#">FEATURES</a></li>
                                <li> <a href="#">SHORTCODE</a></li>
                                <li> <a href="#">CONTACT</a></li>
                                <li> <a href="#">PROTOFO</a></li>
                                <li> <a href="#"</li><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="clear"></div>
                        </nav>
                        <div class="intro">
                           <h4 class="wel">welcome to the site</h4>
                            <h1 class="gro">grow your work from us</h1>
                            <p class="pi"> If the text size is too large, then it’ll just take up more screen space and require more scrolling. But if it’s too small it could be unreadable, or visitors will experience difficulty with vertical rhythm as they move their eyes from line-to-line
                             </p>
                          <button class="butt"type="button">GET START!</button>
                        </div>

                        <div class="indicator">
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>

                        </div>
                    </div>
                </div>






            </header>


             <!-- header  end -->


                 <!-- services begin -->
                 <section class="services">


                    </div>

                    <div class="box">
                            <div>
                            <span > <i id="ii"  class="fa fa-star" aria-hidden="true"> </i> </span>
                            <h3>Creative Desgins</h3>
                            <p>Each heading should reflect it’s own unique style, which also complements other styles of text on the page. Crafting brilliant headers gets easier with practice, but white space values should generally behave the same regardless of heading styles.</p>
                          <a href="#"> Read More<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                       <div class="box">
                            <div>
                            <span > <i id="ii" class="fa fa-expand" aria-hidden="true"></i></span>
                            <h3>Fully Responsive</h3>
                            <p>Notice in the screenshot above how large headings use extra spacing above and below the text. These section headings visually convey a sense of being “on their own,” yet also naturally group together into larger blocks of subheadings and paragraphs.
                            </p>
                          <a href="#"> Read More <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        </div>
                        </div>


              <div class="box">
                        <div>
                                <span >
                                <i id="ii"class="fa fa-arrows-alt" aria-hidden="true"></i></span>
                                <h3>multi Responsive</h3>
                                <p>A visual hierarchy should be apparent through the use of space, size, color, and/or text style. This should be visible even when standing 3-5 feet away from the monitor. You can also use the 5-second Gaussian blur test to check hierarchy.
                                </p>
                            <a href="#"> Read More<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                            </div>

              </div>
                            <div class="box">
                                    <div>
                            <span> <i id="ii" class="fa fa-gear" aria-hidden="true"></i> </span>
                            <h3>Awsame features</h3>
                            <p>On the topic of contextual white space, there lies the question of how to design around the common paragraph. Firm, reliable, and found pretty much everywhere, the paragraph is the backbone of every website’s content strategy.
                            </p>
                         <a href="#"> Read More<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        </div>
                         </div>

                 </section>

                            <!-- services  end -->


                        <!-- portfolio  start-->
                        <section class="portfolio">
                            <h2> Our portfolio</h2>
                            <p> If the text size is too large, then it’ll just take up more screen space and require more scrolling. But if it’s too small it could be unreadable, or visitors will experience difficulty with vertical rhythm as they move their eyes from line-to-line </p>


                            <div class="clear"></div>
                            <div class="gallery">

                                <img src="img/1.jpg" alt=""/>
                                <img src="img/2.jpg" alt=""/>
                                <img src="img/3.jpg" alt=""/>
                                <img src="img/4.jpg" alt=""/>

                                <a href="#">LOAD MORE <i class="fa fa-random" aria-hidden="true"></i></a>

                                <div class="clear"></div>
                            </div>

                        </section>


                           <!-- portfolio  end -->


                        <!-- blog  start -->
                        <section class="blog">
                          <div class="overly">
                                                                        <div class="container">
                                                    <div>
                                                    <p>On the topic of contextual white space, there lies the question of how to design around the common paragraph. Firm, reliable, and found pretty much everywhere, the paragraph is the backbone of every website’s content strategy.
                                                </p>
                                                    </div>

                                        <button type="button" class="butt">GET START</button>
                                        </div>

                            <div class="clear"></div>
                          </div>

                        </section>

                           <!-- blog end -->



                             <!--  news start -->
                            <section class="news">
                             <h2>LASTES NEWS</h2>
                             <p>But how content is written varies based on hthan a smalall come into play when styling paragraphs.
                             </p>

                                <div class="container">
                                  <div>
                                     <img src="img/5.jpg" alt=""/>
                                      <span> 12 May 2017</span>
                                      <p>
                                         Try to design with lexercise moderation and restraint.
                                      </p>

                                 </div>
                                 <div>
                                     <img src="img/6.jpg" alt=""/>
                                      <span> 12 May 2017</span>
                                      <p>
                                         If the text size is tuld be unreadable from line-to-line.
                                      </p>

                                 </div>
                                 <div>
                                     <img src="img/7.jpg" alt=""/>
                                      <span> 12 May 2017</span>
                                      <p>
                                         Two important things to keep in e white space depends on size.
                                      </p>
                                        <div class="clear"></div>
                                 </div>

                                </div>
                             <div class="clear"></div>

                            </section>

                  <!--  news end -->



               <!--  our team end -->
               <section class="ourteam">
                <h2>OUR TEAM </h2>
                <p>
                    Paragraph spacing can be tricky but it’s an important topic, especially for text-heavy websites. The bottom paragraph margin should be much larger than a typical line of text. Bottom paragraph margins should be large enough that you can visually determine when a paragraph has ended.
                </p>

         <div class="container">
              <div>

                    <img src="img/8.jpg"/>
                         <h3> Mahmoud Ibrahem</h3>
                         <span> co - founder</span>
                </div>

                  <div>

                    <img src="img/9.jpg"/>
                         <h3> Mahmoud Ibrahem</h3>
                         <span> co - founder</span>
                </div>

                   <div>

                    <img src="img/10.jpg"/>
                         <h3> Mahmoud Ibrahem</h3>
                         <span> co - founder</span>
                </div>
                   </div>
         </div>
               <div class="clear"></div>
               </section>




                 <!--  ourteam end -->

                  <!--  ourskills start -->
                 <section class="ourskills">
                    <h2>Our Skills </h2>
                    <p>
                        Once you figure out a website’s text size, it becomes much easier to play with line height values and figure out margins for spacing. The goal here is clarity and structure. Each new paragraph should be obvious without any doubt. The key is proportional space between each block of text.
                    </p>

                    <div class="container">
                               <div class=leftskills>

                                    <div class="technique">
                               <h3>Photoshop</h3>
                               <h5>95 %</h5>
                            <div class="clear"></div>


                               <div>
                                   <span>

                               </span>


                               </div>
                               </div>

                                       <div class="technique">
                                  <h3>illustrator</h3>
                                  <h5>
                                      70 %
                                  </h5>
                                  <div class="clear"></div>
                                  <div>
                                      <span style="width:70%" >

                                  </span>


                                  </div>
                                  </div>
                            </div>

                        <div class=rightskills>

                                   <div class="technique">

                              <h3>Web Devolop</h3>
                              <h5>80 %  </h5>
                                     <div class="clear"></div>
                              <div>
                                  <span style="width: 80%">

                              </span>


                              </div>
                              </div>

                                   <div class="technique">
                                    <h3>Web design</h3>

                             <h5>
                                  95 %
                              </h5>
                                     <div class="clear"></div>

                              <div>
                                  <span>

                              </span>


                              </div>
                                   </div>

                        </div>
                        </div>

                 <div class="clear"></div>
                 </section>
                    <!--  ourskills end -->


                       <!--  count start -->
                            <section class="count">
                            <div class="container">
                                <div>
                                <span><i class="fa fa-clock-o" aria-hidden="true"> </i></span>
                                <h3>86.648</h3>
                                <span> Happy Customers</span>
                            </div>

                            <div>
                                <span><i class="fa fa-desktop" aria-hidden="true"> </i></span>
                                <h3>55.676</h3>
                                <span> hours in work</span>
                            </div>

                            <div>
                                <span><i class="fa fa-folder-open" aria-hidden="true"> </i></span>
                                <h3>65.576</h3>
                                <span> Web Page </span>
                            </div>
                            </div>
                               </section>

                                     <!--  count end -->


                                     <!-- out team tow start -->
                                     <section class="ourteamtow">
                                            <div class="container">
                                                <h2> OUR TEAM</h2>
                                                <p>Once you figure out a website’s text size, it becomes much easier to play with line height values and figure out margins for spac</p>


                                            <div>
                                                <i class="fa fa-quote-left" aria-hidden="true"> </i>
                                                <p>
                                                    Paragraphs found in the page may need larger margins than paragraphs found in the sidebar. Links in the header could look smoother with extra padding, but links in the footer could look tidier with very little padding. There are no solid rules, only best practices to keep in mind.
                                                </p>
                                                <img src="img/11.jpg"/>
                                                <h3> Mahmoud Ibrahem</h3>
                                                  <div class="clear"></div>
                                            </div>

                                            <div>
                                                <i class="fa fa-quote-left" aria-hidden="true"> </i>
                                                <p>
                                                    Paragraphs found in the page may need larger margins than paragraphs found in the sidebar. Links in the header could look smoother with extra padding, but links in the footer could look tidier with very little padding. There are no solid rules, only best practices to keep in mind.
                                                </p>
                                                <img src="img/11.jpg"/>
                                                <h3> Mahmoud Ibrahem</h3>
                                                <div class="clear"></div>
                                            </div>

                                            <div>
                                                <i class="fa fa-quote-left" aria-hidden="true"> </i>
                                                <p>
                                                    Paragraphs found in the page may need larger margins than paragraphs found in the sidebar. Links in the header could look smoother with extra padding, but links in the footer could look tidier with very little padding. There are no solid rules, only best practices to keep in mind.
                                                </p>
                                                <img src="img/11.jpg"/>
                                                <h3> Mahmoud Ibrahem</h3>
                                                  <div class="clear"></div>
                                            </div>
                                </div>




                                 </section>


                              <!-- out team  tow end -->



                                <!-- cystomer start -->
                              <section class="ourcustomers">
                              <div class="overly">
                                        <div>
                                    <h2>Our Customers</h2>
                                    <p>
                                        Also remember that typography follows along with its own hierarchy just like page structure. Lots of practice will be the optimal way to improve your eyes for quickly recognizing spatial values that fit best into any given web project.
                                    </p>

                                    <img src="img/11.png"/>


                                    </div>
                              </div>
                              </section>


                                 <!-- cystomer end -->




                                    <!-- footer start -->
                                <footer>
                                    <div>
                                        <div class="menubottom">
                                        <ul>
                                            <li> <a href="#"> about us</a></li>
                                            <li> <a href="#"> send a massage</a></li>
                                            <li> <a href="#"> servises</a></li>
                                            <li> <a href="#"> order a product</a></li>
                                            <li> <a href="#"> photogrhaphy</a></li>


                                        </ul>
                                    </div>

                                    <div class="copyrights">
                                        <p> All rights reserver &copy : <a href="#">MaHmOuD IbRaHeM</a>
                                        </p></div>

                                 <div class="clear"></div>
                                </footer>

                                   <!-- footer end -->



        </body>






    </html>